* {
  box-sizing: border-box;
}

.app{
  justify-self: center;
  background-color: white;
}

.horizontalnav{
  display: flex;
  background-color: rgb(245, 241, 238);
  position: sticky;
  text-align: center;
  align-items: center;
  padding: 1%;
  border-radius: 0 0 10px 10px;
}

.grid{
  margin-top: 1%;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
  font-size: small;
  height: 800px;
  overflow: scroll;
}

.menu ul{
  background-color: #f1f1f1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li{
  padding: 1%;
  font-size: large;
  text-align: left;
}


li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: rgb(13, 81, 112);
  color: white;
}

li a:hover:not(.active) {
  background-color: red;
  color: white;
}

.main {
  background-color: rgb(13, 81, 112);
  color: antiquewhite;
  float: left;
  width: 60%;
  height: 800px;
  padding: 5%;
  overflow: scroll;
  border: 1px solid gold;
  border-radius: 50px;
}

.right {
  background-color:rgb(245, 241, 238);
  float: right;
  width: 20%;
  text-align: center;
  font-size: small;
  text-justify: distribute;
}

.bottombar{
  background-color:bisque;
  text-align:center;
  padding:1px;
  margin-top:7px;
}

.social > a{
  background-color: DodgerBlue;
  color: white;
  width: 30px;
  height: 30px;
  margin: 1px;
  line-height: 30px;
  font-size: 15px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
    margin: 1%;
  }

  .menu{
    height: 150px;
    overflow: scroll;
  }
}

@media only screen and (min-width: 1000px) {
  /* For full phones: */
  .app{
    width: 60%;
    margin: 20%;
    margin-top: .5%;
    margin-bottom: 1%;
  }

  .menu{
    height: 800px;
    overflow: scroll;
  }

  .main{
    height: 800px;
    overflow: scroll;
  }
  
}